.viewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #2c3e50;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

/* table */
.viewContainer table {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 30px;
}

.viewContainer table tr {
    width: 100%;
    border: 1px solid #2c3e50;
}

.viewContainer table th {
    width: 200px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 0;
    border-right: 2px solid #2c3e50;
    background-color: #77a0c9;
    font-size: 1.3rem;
}

.viewContainer table th span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e20303;
    padding-left: 5px;
    padding-right: -5px;
}

.viewContainer table td {
    width: 50%;
    margin: 0;
    border-bottom: 1px solid #c7c7c7;
    z-index: 999;
    position: relative;
    overflow: hidden;
}

.viewContainer table td:not(:has(*)) {
    padding-left: 20px;
}

.viewContainer .bookInfo tr td input:not([type="file"]),
.viewContainer .bookInfo tr td textarea {
    box-sizing: border-box;
    border: 0;
    background-color: #8b8b8b1c;
    width: 100%;
    position: absolute;
    height: 100%;
    outline: 0;
    padding: 0 5px;
}

.viewContainer .bookInfo tr:last-child th {
    height: 340px;
}

/* 첨부파일 */

.viewContainer .bookInfo tr:last-child td .previewImg {
    position: absolute;
    width: 200px;
    height: 250px;
    border: 1px solid;

    top: 60px;
    left: 4px;
}


.viewContainer .bookInfo tr:last-child td input {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid #8b8b8b1c;
    top: 10px;
    left: 4px;
}

.viewContainer .bookInfo tr:last-child td input::file-selector-button {
    width: 100px;
    height: 35px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    cursor: pointer;
}

.viewContainer .bookInfo tr:last-child td textarea {
    width: 100%;
    position: absolute;
    background-color: #8b8b8b1c;
    font-size: 1.2rem;
    resize: none;
    outline: none;
    font-weight: 300;
}

.viewContainer .bookInfo tr td input:focus:not([type="file"]),
.viewContainer .bookInfo td textarea:focus {
    border: 1px dotted #2c3e50;
}

/* btnWrap */
.viewContainer .btnWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.viewContainer .btnWrap input {
    width: 100px;
    height: 36px;
    border-radius: 3px;
    background-color: var(--button-default-back);
    border: 1px solid #2c3e50;
}

.viewContainer .btnWrap input:focus {
    background-color: var(--button-click-back);
    color: var(--button-click-color);
}