.totalContainer {
    margin-right: 20px;
}


/* 검색 박스 */
.totalContainer .searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #2c3e50;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 1082px;
}

.totalContainer .searchContainer div {
    display: flex;
    border: 1px solid #2c3e50;
    background-color: #a7cbf0;
    border-radius: 5px;
    width: 1056px;
}

.totalContainer .searchContainer select {
    margin-left: 20px;
    height: 36px;
    border: 0;
    background-color: #a7cbf0;
}

.totalContainer .searchContainer .inputBox {
    border: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 973px;
    background-color: #a7cbf0;
    padding-right: 3.2px;
}

.totalContainer .searchContainer .inputBox input {
    border: 0;
    width: 97%;
    height: 26px;
    background-color: #ffffff;
    color: #000000;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

.totalContainer .searchContainer .inputBox button {
    width: 36px;
    height: 28px;
    background: url('../assets/imgs/ico-ipt-sh.png') no-repeat 50% 50%;
    font-size: 0;
    border: 0;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
}

select:focus,
input:focus,
button:focus {
    outline: none;
}

/* 검색 결과물 */
.totalContainer .outputBoard {
    background-color: #77a0c9;
    width: 100%;
}

.totalContainer .outputBoard .results {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dadada;
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 3px;
}

.totalContainer .outputBoard .results p {
    padding-left: 10px;
    width: 180px;
}

.totalContainer .outputBoard .results select {
    margin-left: 10px;
    margin-right: 100px;
    height: 30px;
    width: 100px;
}

.totalContainer .outputBoard .results .btnWrap {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 20px;
}

.totalContainer .outputBoard .results .btnWrap input {
    color: var(--button-default-color);
    border: 1px solid #2c3e50;
    width: 80px;
    height: 36px;
    border-radius: 3px;
}

.totalContainer .outputBoard .results .deleteBtn {
    width: 80px;
    height: 36px;
    border-radius: 3px;
}

.totalContainer .outputBoard .results input:focus {
    background-color: #2c3e50;
    color: #ffffff;
}

/* result table */
.totalContainer .outputBoard .dashBoard {
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    overflow: hidden;
}

.totalContainer .outputBoard .dashBoard table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

.totalContainer .outputBoard tr {
    border-bottom: 1px solid #c7c7c7;
}

.totalContainer .outputBoard .dashBoard table thead {
    background-color: #77a0c9;
}

.totalContainer .outputBoard .dashBoard table td {
    border-right: 1px solid #c7c7c7;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.totalContainer .outputBoard .dashBoard table th,
.totalContainer .outputBoard .dashBoard table td {
    line-height: 30px;
    font-size: 1.3rem;
    padding-left: 10px;
}

/* check */
.totalContainer .outputBoard .dashBoard table th:first-child,
.totalContainer .outputBoard .dashBoard table td:first-child {
    width: 50px;
    max-width: 50px;
    padding: 0;
    text-align: center;
}

/* idx */
.totalContainer .outputBoard .dashBoard table th:nth-child(2),
.totalContainer .outputBoard .dashBoard table td:nth-child(2) {
    width: 90px;
    max-width: 90px;
    padding: 0;
    text-align: center;
}

/* title */
.totalContainer .outputBoard .dashBoard table th:nth-child(3),
.totalContainer .outputBoard .dashBoard table td:nth-child(3) {
    width: 400px;
    max-width: 400px;
}

/* writer name */
.totalContainer .outputBoard .dashBoard table th:nth-child(4),
.totalContainer .outputBoard .dashBoard table td:nth-child(4) {
    width: 300px;
    max-width: 300px;
}

/* publishing */
.totalContainer .outputBoard .dashBoard table th:nth-child(5),
.totalContainer .outputBoard .dashBoard table td:nth-child(5) {
    width: 200px;
    max-width: 200px;
}

/* year */
.totalContainer .outputBoard .dashBoard table th:nth-child(6),
.totalContainer .outputBoard .dashBoard table td:nth-child(6) {
    width: 130px;
    max-width: 130px;
}

/* 십진분류 */
.totalContainer .outputBoard .dashBoard table th:nth-child(7),
.totalContainer .outputBoard .dashBoard table td:nth-child(7) {
    width: 150px;
    max-width: 150px;
    padding: 0;
    text-align: center;
}

/* 대여유무 */
.totalContainer .outputBoard .dashBoard table th:nth-child(8),
.totalContainer .outputBoard .dashBoard table td:nth-child(8) {
    padding: 0;
    width: 120px;
    text-align: center;
}

/* 수정 반납 버튼 */
.totalContainer .outputBoard .dashBoard table td:last-child {
    display: flex;
    gap: 20px;
    border: 0;
}

.totalContainer .outputBoard .dashBoard table td:last-child input {
    display: flex;
    width: 35px;
    height: auto;
    background-color: #ffffff;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 3px;

    border: 0.5px solid #dadada;
}

.totalContainer .outputBoard .dashBoard table td:last-child .see {
    background-image: url('../assets/imgs/see.png');
    background-size: 50px;
}

.totalContainer .outputBoard .dashBoard table td:last-child .correction {
    background-image: url('../assets/imgs/pencil.png');
}

.totalContainer .outputBoard .dashBoard table td:last-child .return {
    background-image: url('../assets/imgs/return.png');
}

/* paging */
.totalContainer .paging {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.totalContainer .paging input {
    border: 1px solid #2c3e50;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-color: #ffffff;
}

.totalContainer .paging .back {
    background-image: url('../assets/imgs/arrow.png');
}

.totalContainer .paging .next {
    background-image: url('../assets/imgs/arrow.png');
    transform: rotate(180deg);
}