main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .mainContainer {
    height: 790px;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

/* left */
main .mainContainer .leftContainer {
    box-sizing: border-box;
    width: 48%;
    height: 790px;
    display: flex;
    flex-direction: column;
}

/* search */
.mainContainer .leftContainer .searchContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #2c3e50;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.mainContainer .leftContainer .searchContainer div {
    display: flex;
    border: 1px solid #2c3e50;
    background-color: #a7cbf0;
    border-radius: 5px;
}

/* select */
.mainContainer .leftContainer .searchContainer div select {
    margin-left: 20px;
    padding-right: 10px;
    height: 36px;
    border: 0;
    background-color: #a7cbf0;
}

.mainContainer .leftContainer .searchContainer div .inputBox {
    border: 0;
    box-sizing: border-box;
    display: flex;
    width: 650px;
    align-items: center;
    background-color: #a7cbf0;
    padding-right: 3.2px;
}

.mainContainer .leftContainer .searchContainer div .inputBox input {
    border: 0;
    width: 97%;
    height: 27px;
    background-color: #ffffff;
    color: #000000;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

.mainContainer .leftContainer .searchContainer div .inputBox button {
    width: 26px;
    height: 29px;
    background: url('../assets/imgs/ico-ipt-sh.png') no-repeat 50% 50%;
    font-size: 0;
    border: 0;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
}

select:focus,
input:focus,
button:focus {
    outline: none;
}

/* result, user list */
.mainContainer .leftContainer .resultContainer {
    width: 100%;
}

.mainContainer .leftContainer .resultContainer .results {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dadada;
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 3px;
}

.mainContainer .leftContainer .resultContainer .results>p {
    width: 180px;
}

.mainContainer .leftContainer .resultContainer .results select {
    margin-left: 10px;
    margin-right: 20px;
    height: 30px;
    width: 100px;
}

.mainContainer .leftContainer .resultContainer .results .paging {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
}

.mainContainer .leftContainer .resultContainer .results .paging input {
    border: 1px solid #2c3e50;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-color: #ffffff;
}

.mainContainer .leftContainer .resultContainer .results .paging .back {
    background-image: url('../assets/imgs/arrow.png');
}

.mainContainer .leftContainer .resultContainer .results .paging .next {
    background-image: url('../assets/imgs/arrow.png');
    transform: rotate(180deg);
}


/* user list table */

.mainContainer .leftContainer .outBoard {
    border: 2px solid #2c3e50;
    border-radius: 5px;
    width: 100%;
    height: 655px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mainContainer .leftContainer table thead {
    background-color: #a7cbf0;
    border-collapse: collapse;
}

.mainContainer .leftContainer table tbody {
    height: 100%;}

.mainContainer .leftContainer table tr {
    border-bottom: 1px solid #c7c7c7;
}

.mainContainer .leftContainer table th,
.mainContainer .leftContainer table td {
    line-height: 30px;
    font-size: 1.1rem;
    padding-left: 10px;
}

.mainContainer .leftContainer table td:first-child {
    text-align: center;
}

.mainContainer .leftContainer table td:last-child input {
    display: flex;
    width: 24px;
    background-color: #ffffff;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 3px;

    border: 0.5px solid #dadada;
    background-image: url('../assets/imgs/pencil.png');
}

.mainContainer .leftContainer table td:last-child input:focus {
    border: 1px solid #000000;
}

/* 클린된 유저 */
.clickedUser {
    background-color: #dadada;
}

/* right */
main .mainContainer .rightContainer {
    border-radius: 5px;
    width: 48%;
    height: 770px;
    display: flex;
    flex-direction: column;
}

/* userInfo  */
.mainContainer .rightContainer .userInfo {
    border: 2px solid #2c3e50;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.mainContainer .rightContainer .userInfo h4 {
    background-color: #a7cbf0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.mainContainer .rightContainer .userInfo p {
    padding: 5px 10px;
    padding-left: 10px;
}

/* loan List */
.mainContainer .rightContainer .loanInfo {
    border: 2px solid #2c3e50;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 10px;
    height: 250px;
    margin-bottom: 40px;
    box-sizing: border-box;
    max-height: 250px;
    overflow: auto;
}

.mainContainer .rightContainer .loanInfo h4 {
    background-color: #a7cbf0;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.mainContainer .rightContainer .loanInfo table {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    overflow: scroll;
}

.mainContainer .rightContainer .loanInfo table td {
    height: 30px;
    text-align: center;
}

/* ban List */

.mainContainer .rightContainer .banInfo {
    border: 2px solid #2c3e50;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 10px;
    height: 250px;
    max-height: 250px;
    overflow: auto;
}

.mainContainer .rightContainer .banInfo h4 {
    background-color: #a7cbf0;
    padding: 10px;
    border-radius: 10px 0 0 0;
    margin-bottom: 4px;
}

.mainContainer .rightContainer .banList table {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
}

.mainContainer .rightContainer .banList table thead {
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    line-height: 20px;
}

.mainContainer .rightContainer .banList table td {
    height: 30px;
    text-align: center;
    padding: 10px;
}

.mainContainer .rightContainer .banList table td input {
    width: 80px;
    background-color: #ffffff;
    border-radius: 5px;
}

.mainContainer .rightContainer .banList table td input:focus {
    background-color: #2c3e50;
    color: #ffffff;
}

/* 버튼 (기능) 모음 */

.mainContainer .rightContainer .btnContainer input {
    margin-top: 40px;
    width: 120px;
    height: 36px;
    border-radius: 10px;
    border: 2px solid #2c3e50;
    background-color: #ffffff;
}

.mainContainer .rightContainer .btnContainer input:focus {
    background-color: #2c3e50;
    color: #ffffff;
}