footer{
	margin-top: 100px;
}
.footBox1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 176px; */
    background-color:#6c5a3f;
   
}
.footBox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1260px;
    /* height: 176px; */
    font-size: 12pt;
    color: white;
    background-color: #6c5a3f;
}
.bold{
    width: 500px;
    font-size: 12pt;
    font-weight: bold;
}
p{
    width: 500px;
    font-size: 10pt;
}
.footCopyright{
    font-size: 10pt;
    color: #8a7e6d;
}
.footerLogo{
    width: 100px;
    height: 80px;
    float: right;
    background-color: lightgray;
}

/*scrollBtn css*/
.scrollBtn{
	position: relative;
	z-index: 10;
	width: 50px;
	height: 50px;
	background: green;
	opacity: 0.5;
}