/* body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
header{
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    
    /* height: 146px; */
}
.header1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.headerTop{
    width: 1260px;
    height: 146px;
}
.logo{
    color: white;
    width: 150px;
    height: 80px;
    background-color: #64b883;
}
.loginLink, .joinLink{
    position: relative;
    width: 70px;
    top: -15px;
    float: right;
}
.headerBottom{
    display: flex;
    justify-content: center;
    overflow: visible;
    background-color:#1a6936;
}
.subMenuTop{
    margin-left: 0px;
    width: 1260px;
    text-align: center;
}
.subMenuTop:hover ~.menuBar{
    height: 250px;
    transition: 2s ease-in-out;
}
.subMenuTop>li{
    display: inline-block;
    box-sizing: border-box;
    width: 252px;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    background-color:#1a6936;
}
.menuBarBackground{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aliceblue;
}
.menuBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 250px;
    margin-left: 0px;
    padding-left: 76px;
    padding-right: 76px;
    color: #47a168;
    background-color: white;
}
.menuBar:nth-child(2n-1){
    background-color:#fff4e4;
}
.menuBar>li{
    font-size: 11pt;
    font-weight: bold;
    line-height: 3em;
    list-style-type: none;
}
.subMenuTop, .menuBar{
    font-size: 0pt;
}






