body{
	margin:0;
}
header{
/* 	position: fixed; */
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 50;
}
.logout{
	width: 30px;
	height: 30px;
	cursor:pointer;
}
.bye{
	display: none;
}
.center{
	display:flex;
	justify-content:center;
}
.header1{
	background: white;
    width:100%;
}
.headerTop{
	display: flex;
	align-items: center;
    min-width: 1260px;
    min-height: 146px;
}
.logo{
    color: white;
    width: 250px;
    height: 50px;
    margin-right: 800px;
    cursor: pointer;
    background-color: #64b883;
}
.loginLink, 
.joinLink{
    position: relative;
    min-width: 70px;
    top: 40px;
    float: right;
    font-weight: bold;
    cursor: pointer;
}
.headerBottom{
/* 	position: fixed; */
top: 0px;
    display: flex;
    justify-content: center;
/*     background-color:#155734; */
	background-color: #1d7647;
    width:100%;
    min-height: 57px;
}
.subMenuTop{
    margin-left: 0px;
    min-width: 1260px;
    min-height: 57px;
    text-align: center;
    
    padding:0;
}

.subMenuTop>li{
	vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    min-width: 252px;
    min-height: 57px;
    padding: 15px 0 15px 0;
    margin: 0px;
    list-style-type: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
/*     background-color:#155734; */
	background-color: #1d7647;
}

.subMenuTop>li:hover{
    background-color: #e7f3e8;
    transition: 0.5s ease-in-out;
    color: black;
    cursor: pointer;
}
.subMenu{/*테스트용*/
/* 	position: fixed; */
	position: absolute;
    display: flex;
    flex-direction: row;
    
    top: 203px;
    width: 1260px;
	height: 0px;
	overflow: hidden;
    
}

.menuBarBackground{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aliceblue;
}
.menuBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 300px; 
    margin-left: 0px;
    padding: 0 76px 0 76px;
    color: black;
    background-color: lemonchiffon;
}
.menuBar a{
	color: black;
	text-decoration: none;
	width: 252px;
	height: 45px;
}
.menuBar:nth-child(2n-1){
    background-color:white;
}
.menuBar>li{
	display:flex;
	margin: 0px;
	width: 252px;
	height: 60px;
	align-items: center;
	text-align: center;
    font-size: 11pt;
    font-weight: bold;
    line-height: 3em;
    list-style-type: none;
}
.menuBar>li:hover{
   /*  text-decoration: underline; */
/*     color: #e7f3e8; */
    background-color:rgb(185, 223, 200);
    cursor: pointer;    transition: 300ms ease-in-out;
}
.menuBar>li:hover a{
	color: brown;
}
.subMenuTop, .menuBar{
    font-size: 0pt;
}

/*js*/
.menuopen{
	transition: height 300ms ease-in-out;
}
.fixUp{
	position: fixed;
/* 	top: 0px; */
	z-index: 50;
}
.tops{
	top: 50px;
}

a#myPage{
	color:#1d7647;
	cursor:pointer;
	text-decoration:none;
}
a#myPage:hover{
	text-decoration:underline;
	color:dodgerblue;
}