.bannerBgr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
	min-width: 1260px;
    background-color: #ecd9bc;
    padding-top: 200px;
}
.Banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1260px;
    height: 90px;
    vertical-align: middle;
    background-color: #ecd9bc;
/*     padding-top: 200px; */
}
.pageTitle{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 60px;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}
.pageRoute{
    height: 30px;
    padding-top: 3px;
    text-align: right;
}
