@charset "utf-8";

.bigDiv{
    display: flex;
    width: 1260px;
    height: 340px;
    margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:1px solid #ECD9BC;
}

.book_container {
 	display: flex;
	width: 1260;
    height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.book_image {
	margin-left:50px;
    width: 200px;
}

.book_table {
    width: 1000px;
}

table {
    border-collapse: collapse;
    width: 800px;
	height: 300px;
    margin: 0 auto;
}

td {
    width: 150px;
}

th {
    width: 100px;
    text-align: center;
}

td, th{
    border: 1px solid gray;
}

.book_container2 {
    display: flex;
    flex-direction: column;
    width: 1250px;
    margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
    border: 1px solid gray;
}

.book_container2 hr {
    width: 1250px;
	color: gray;
}

img{
	width:200px;
	height:300px;
	object-fit: cover;
}
