@charset "utf-8";

main{
	margin-top: 100px;
}
.sel_All input[type="checkbox"], .bigbigDiv input[type="checkbox"] {
    transform: scale(1.3);  
}

.sel_All{
    display: flex;
    align-items: center;
    width: 1260px;
    margin: 0 auto;
}

/* 추가된 부분 */
.noRents{
	width: 1260px;
	height: 800px;
	display: flex;
	align-items: center;
	justify-content : center;
}

.noRents span{
	font-size: 25pt;
}
/* 추가된 부분 */

.sel_All input[type="submit"]{
	font-weight: bold;
	color:white; 
	background:#64B883;
	border: none;
	border-radius: 5px; 
	width:120px; 
	height:35px; 
	cursor:pointer;
}

.bigbigDiv{
	margin-top: 20px;
	margin-bottom: 20px;
}

.bigDiv{
    display: flex;
    width: 1260px;
    height: 340px;
    margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:2px solid #ECD9BC;
	border-radius: 5px;
}

.book_container {
 	display: flex;
	width: 1260;
    height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.book_label{
	display: flex;
	width: 30px;
	justify-content: center;
	align-items: center;
	padding: 10px 0 0 10px;
}
input[type=checkbox]{
	cursor: pointer;
}
.book_image {
	margin-left:50px;
    width: 200px;
}

.book_image img{
	width:200px;
	height:300px;
	object-fit: cover;
}

.book_table {
    width: 1000px;
}

.book_table table {
    border-collapse: collapse;
    width: 800px;
	height: 300px;
    margin: 0 auto;
}

.book_table td {
    width: 150px;
    padding: 10px;
}

.book_table th {
    width: 100px;
    text-align: center;
    background-color: #E7F3E8;
}

.book_table td, .book_table th{
    border: 1px solid #A0CAB0;
}

.book_table .extends{
	border:none;
}

.book_table .extends input[type="submit"]{
	margin-top:30px;
	width:120px; 
	height:35px; 
	font-weight: bold;
	color:white; 
	background-color: #1d7647;
	border: none;
	border-radius: 5px;
	cursor:pointer;
}

.book_table table th:first-child, .book_table table td:first-child{
	border-left: none;
}
.book_table table th:last-child, .book_table table td:last-child{
	border-right: none;
}



