@charset "utf-8";


.zero_container{
	display: flex; 

	margin: 0 auto;
	padding:10px;
	box-sizing: border-box;/*패딩 마진이 요소의 너비,길이에 포함되게*/
}

.sel_box{
	display: flex;
	border: 1px solid brown;
	height: 30px;
	width: 700px;
	margin: auto;
}

.sel_box1, .sel_box2, .sel_box3 {
	display: flex;
	height:30px;
}
.sel_box1, .sel_box3{
	width:150px;
}
.sel_box2{
	width:400px;
}

.sel_box2 input[type="text"]{
	border: none;
	outline: none;
	opacity: 0.5;
}
.sel_box1 select{
	margin:0 auto;
	width:140px;
}
.sel_box3 input[type="button"]{
	margin:0 auto;
	width: 140px;
}

.first_container{
	display: flex; 

	margin: 0 auto;
	padding:10px;
	box-sizing: border-box;
}

.text_box{
	display: flex;
	border: 1px solid brown;
	height: 30px;
	width: 700px;
	margin: auto;
}

.text_box1, .text_box2 {
	display: flex;
	height:30px;
}
.text_box1{
	width:550px;
	align-items: center; /* 텍스트를 수직 가운데 */
}
.text_box2{
	width:150px;
}
.text_box2 input[type="button"]{
	margin:0 auto;
	width: 140px;
}

.second_container{
	display: flex; 

	margin: 0 auto;
	padding:10px;
	box-sizing: border-box;

	flex-direction: column;
}

.bigDiv{
    display: flex;
    width: 1600px;
    height: 340px;
    margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:1px solid #ECD9BC;
}

.book_container {
 	display: flex;
	width: 1600px;
    height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.book_image {
	margin-left:50px;
    width: 200px;
}

.book_table {
    width: 1300px;
}

table {
    border-collapse: collapse;
    width: 1200px;
	height: 300px;
    margin: 0 auto;
}

td {
    width: 300px;
}

th {
    width: 300px;
    text-align: center;
}

td, th{
    border: 1px solid gray;
}

.third_container{
	display: flex;
	margin: 0 auto;

	padding:10px;
	box-sizing: border-box;
}

.button_box{
	display: flex;
	border: 1px solid brown;
	height: 50px;
	width: 700px;
	margin: auto;

	align-items: center;
	justify-content: center;
}

.button_box1, .button_box2, .button_box4, .button_box5{
	height: 30px;
	border : 1px solid yellowgreen;
}

.button_box3{
	display: flex;
	height: 30px;
	border : 1px solid yellowgreen;
}

.button_inbox{
	margin-right: 2px;
	margin-left: 2px;
}

.button_box1 input, .button_box2 input, .button_box4 input, .button_box5 input{
	margin-right: 2px;
	margin-left: 2px;
}

img{
	width:200px;
	height:300px;
	object-fit: cover;
}