@charset "utf-8";





.first_container{
	display: flex; 
	width:1260px;

	margin: 0 auto;
	padding:10px;
	box-sizing: border-box;
}

.text_box{
	display: flex;
	border: none;
	height: 30px;
	width: 700px;
	margin: auto;
	
}

.text_box1, .text_box2 {
	display: flex;
	height:30px;
}
.text_box1{
	width:550px;
	align-items: center; /* 텍스트를 수직 가운데 */
}
.text_box2{
	width:150px;
}
.text_box2 select{
	margin:0 auto;
	width: 140px;
}



.second_container{
	display: flex; 
	width: 1260px;

	margin: 0 auto;
	padding:10px;
	box-sizing: border-box;

	flex-direction: column;
}

.bigDiv{
    display: flex;
    width: 1260px;
    height: 340px;
    margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:2px solid #ECD9BC;
	border-radius: 5px;
}

.book_container {
 	display: flex;
	width: 1260;
    height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.book_image {
	margin-left:50px;
    width: 200px;
}

.book_image img{
	width:200px;
	height:300px;
	object-fit: cover;
}

.book_table {
    width: 1000px;
}

.book_table table {
    border-collapse: collapse;
    width: 800px;
	height: 300px;
    margin: 0 auto;
}

.book_table td {
    width: 150px;
}

.book_table th {
    width: 100px;
    text-align: center;
    background-color: #E7F3E8;
}

.book_table td, th{
    border: 1px solid #A0CAB0;
}

.book_table th:first-child, .book_table td:first-child{
	border-left: none;
}
.book_table th:last-child, .book_table td:last-child{
	border-right: none;
}



.third_container{
	display: flex;
	margin: 0 auto;

	padding:10px;
	box-sizing: border-box;
}

