@charset "utf-8";

.zero_container{
	margin-top: 100px;
}
.subtitleContainer1{
	display: flex;
	height: 36px;
	justify-content: center;
}
.subtitleContainer2{
	display: flex;
	width: 1260px;
	height: 36px;
}
.subtitleContainer2 .themeSearch{
	font-size: 18pt;
	font-weight: bold;
	
}
.first_container{
	display: flex;
	width:1260px;
	height:400px;
	margin: 0 auto;
	margin-bottom: 150px;
	box-sizing: border-box;
	flex-wrap: wrap;
	border: 3px solid #ecd9bc;
}

.first_container .class_box{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:15%;
	height:40%;
	margin: 1.5% 2.5% 1.5% 2.5%;
	padding: 0;
	font-weight: bold;
	border-radius: 5px;
	background-color: #E7F3E8;
}
.first_container .class_box:hover{
	cursor: pointer;
	background-color: #cce6ce;
	transition: 300ms ease-in-out 	
	}
.second_container{
	display: flex;
	margin-bottom: 150px;
	padding:10px;
}

.second_container .img_box{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border: 3px solid #ecd9bc;
	border-radius: 5px;
	
}
