@charset "utf-8";





.first_container{
	display: flex; 
	width:1260px;
	margin: 0 auto;
	padding:10px;
	padding-bottom: 0px;
	box-sizing: border-box;
}

.text_box{
	display: flex;
	justify-content: space-between;
	border: none;
	height: 30px;
	width: 1260px;
	margin: auto;
	
}

.text_box1, .text_box2 {
	display: flex;
	height:30px;
}
.text_box1{
	width:550px;
	align-items: center; /* 텍스트를 수직 가운데 */
}
.text_box2{
	width:140px;
}
.text_box2 select{
	margin:0 auto;
	width: 140px;
	height: 30px;
	border: 1px solid #DAD5C9;
}



.second_container{
	display: flex; 
	width: 1260px;
	margin: 0 auto;
	padding:10px;
	padding-top: 0px;
	box-sizing: border-box;

	flex-direction: column;
}

.bigDiv{
    display: flex;
    width: 1260px;
    height: 340px;
    margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:2px solid #ECD9BC;
	border-radius: 5px;
}

.book_container {
 	display: flex;
	width: 1260;
    height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.book_image {
	margin-left:50px;
    width: 200px;
}

.book_image img{
	position: relative;/*lhm 추가*/
	top: -302px;/*lhm 추가*/
	width:200px;
	height:300px;
	object-fit: cover;
}

.book_table {
    width: 1000px;
}

.book_table table {
    border-collapse: collapse;
    width: 800px;
	height: 300px;
    margin: 0 auto;
}

.book_table td {
    width: 150px;
	padding-left: 20px;
}

.book_table th {
    width: 100px;
    text-align: center;
    background-color: #E7F3E8;
}
.book_table th img{
	width: 20px;
	height: 20px;
}
.book_table td, th{
    border: 1px solid #A0CAB0;
}

.book_table th:first-child, .book_table td:first-child{
	border-left: none;
}
.book_table th:last-child, .book_table td:last-child{
	border-right: none;
}



.third_container{
	display: flex;
	margin-bottom: 75px;
	padding:10px;
	box-sizing: border-box;
}

.hidden {
    display: none;
}
    
.button_box{
	display: flex;
	width:1260px;
	margin: 0 auto;
	
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	box-sizing: border-box;
}

/*.button_box input[type="button"]{*/
/*	background-color: #64B883;*/
/*	border-radius : 5px;*/
/*	border: none;*/
/*	width: 40px;*/
/*	margin-right: 10px;*/
/*	margin-left:10px;*/
/*}*/
.orderBtn,
.goFirst_button,
.goPrevious_button,
.goNext_button,
.goEnd_button{
	/* background-color: #64B883; */
	border-radius : 2px;
	border: 1px solid gray;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	margin-left:10px;
	cursor: pointer;
	background-color: white;
}
input[type=button]:hover{
	background-color: #d8e9d9;
	opacity: 0.8;
}


/*그림자 눈알*/
.book_container a{
	width:200px;
	height:300px;
	cursor: pointer;
	overflow: hidden;
}
.blackbox{

	position: relative;
	z-index: 15;
	width:200px;
	height:300px;
	background-color: #155734;
	opacity: 0;
}
.book_container .icon{
	position: relative;
	top: 87px;
	left: 40px;
	float: left;
	width: 128px;
	height: 128px;
	border: none;
}
.book_container a:hover .blackbox{
	opacity: 0.5;
	transition: opacity 200ms ease-in-out;
}

/*js용*/
.curPage{
	border: 2px solid #64B883;
	background-color: #d8e9d9;
}
