body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.useTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}
table{
    width: 800px;
    height: 700px;
}
table, tr, td{
    border: 1px solid black;
   
}
td{
    vertical-align: middle;
}
ul>li{
    list-style-type: square;
    line-height: normal;
}
ul>li::marker{
    color: tan;
}
.useTableItem{
    width: 150px;
    height: 75px;
    text-align: center;
    font-weight: bold;
    background-color: lightgreen;
}