.container{
	margin-left: 40px;
	margin-top: 100px;
}
h1{
	margin-bottom: 100px;
}
ul{
	line-height: 2em;
	margin-bottom: 30px;
}
li:first-child{
	list-style-type: none;
	padding: 0px;
}
li:not(:first-child)::marker{
	content: "-";
}
span{
	font-size: 13pt;
	font-weight: bold;
}
a{
	text-align: center;
	color: blue;
}
a:hover{
	text-decoration: none;
}