a{
	text-decoration:none;
	color:black;
}
a:hover{
	text-decoration:underline;
	color:dodgerblue;
}
.map{
	height:300px;
	border:1px black solid;
	padding:10px;
	margin:10px 400px;
}
.explain{
	margin:10px 400px;
}
.image{
	height:100%;
	width:auto;
}
