.mainPage{
    background-color: lemonchiffon;
}
.bookSearchText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.customSearchform{
    z-index: 5;
    display: flex;
    flex-direction: row;
    width: 768px;
    height: 40px;
    margin-top: 100px;
    text-align: right;
    cursor: pointer;
}
.searchSel{
    z-index: 5;
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    border: 4px solid #ecd9bc;
    border-right: none;
    cursor: pointer;
    background-color: white;
}
input[type=text]{
    z-index: 5;
    display: flex;
    width: 768px;
    height: 40px;
    cursor: pointer;
    border: 4px solid #ecd9bc;
    background-color: #eeeae2;
}

input[type=button]{
    z-index: 5;
    width:70px;
    height: 50px;
    border: 4px solid #ecd9bc;
    border-left: none;
    cursor: pointer;
    color: white;
    background-color: #6c5a3f;
}
.quickBundle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.quickPage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 40px;
    border-radius: 20px;
    border: 10px solid #ecd9bC;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}
.quickPage img{
	width: 64px;
	height: 64px;
}
.quickPage:hover{
    background-color: #47a168;
    transition: 300ms;
    color: #d8e9d9;
}
.logoChg{
    visibility: hidden;
    background-color: green;
    opacity: 0.5;
}
/* .movingBook{
    width:200px;
    height:255px;
    filter: drop-shadow(0px 2px 5px black);
} */

/* .bookSwipe .newbook{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 960px;
    height: 300px;
    margin: 50px;
    background-color: mediumaquamarine;
} */
/* .popularBooks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 960px;
    height: 300px;
    margin: 50px;
    background-color: mediumaquamarine;
} */
.infoBoard1{
    display: flex;
    justify-content: center;
}
.infoBoard2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 1260px;
    height: 300px;
    background-color: skyblue;
    left: 0;
}
.infoBoard2 img{
	width: 50px;
	height: 50px;
}
.infoBoard2 table{
	width: 1260px;
	height: 250px;
	border: 2px solid red;
}
.titleQuick{
	display: flex;
	justify-content: space-between;
	width: 1260px;
}
.infoBoard2 span{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	font-weight: bold;
	background-color: aliceblue;
}
.infoBoard2 table tr,
.infoBoard2 table td{
	border: 1px solid red;
}
.infoBoard2 table td:nth-child(2){
	width: 700px;
}

/*추가*/
.bookSwipe{/*이건 원래 있던 것*/
/* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    background-color: mistyrose;
}
.window, .window2{
	min-width: 1260px;
	min-height: 370px;
	width: 1260px;
	height: 370px;
	overflow: hidden;
	border: 3px dotted red;
}
.bookSwipe .newbook,
.bookSwipe .popbook{
	position: relative;
	min-width: 3780px;
	min-height: 370px;
	width: 3780px;
    height: 370px;
	list-style-type: none;
	display: inline-block;
	background-color: skyblue;
	border: 3px dotted green;
}
.bookSwipe .window .newbook,
.bookSwipe .window2 .popbook{
	margin: 0px;
	padding: 0px;
}
.bookSwipe .newbook li,
.bookSwipe .popbook li{
	display: inline-block;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 20px;

}
.bookSwipe .newbook li img,
.bookSwipe .popbook li img{
	width:200px;
    height:255px;
    filter: drop-shadow(0px 2px 5px black);
}
.bookt{
	width: 200px;
	padding-top: 10px;
	font-size: 15pt;
	overflow: hidden;
	background-color: white;
}
.backBtn, .goBtn{
	width: 64px;
	height: 64px;
	background-color: green;
	opacity: 0.5;
	cursor: pointer;
}
/*js용*/
.on{
	visibility: hidden;
}
