

.bookSearchText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 250px 0 300px 0;
    background-image:url("/images/woodLeaf.jpg");
    background-size: cover;
}
.customSearchform{
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 768px;
    height: 40px;
    margin-top: 100px;
    text-align: right;
    cursor: pointer;
}
.searchSel{
    z-index: 2;
    float: left;
    width: 100px;
    height: 58px;
    padding-left: 10px;
/*     border: 4px solid #ecd9bc; */
	border: 4px solid #a0cab0;
    border-right: none;
    cursor: pointer;
    background-color: white;
}
input[type=text]{
    z-index: 2;
    display: flex;
    width: 768px;
    height: 48px;
    padding-left: 10px;
    cursor: text;
/*     border: 4px solid #ecd9bc; */
	border: 4px solid #a0cab0;
    border-left: none;
    border-right: none;
    background-color: #eeeae2;
}
input[type=text],
select:focus{
	outline: 0;
}
.customSearchform img{
	width:50px;
	height: 50px;
/* 	border: 4px solid #ecd9bc; */
	border: 4px solid #a0cab0;
    border-left: none;
    cursor: pointer;
}
.quickBundle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.quickBundle a{
	color: black;
	text-decoration: none;
}
.quickPage{
    
    width: 100px;
    height: 100px;
    margin: 40px 66px 40px 66px;
    border-radius: 20px;
    border: 10px solid #ecd9bC;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}
.quickPage a{
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 100px;
}
.quickPage img{
	position: relative;
	width: 64px;
	height: 64px;
}
.quickPage:hover{
    background-color: #64b883;
    transition: 300ms ease-in-out;
    color: white;
}
.quickPage:hover a{
	color: white;
}
.bookslide{
	margin: 50px 0 50px 0;
	padding: 50px 0 50px 0;
	background-color: #d8e9d9;
}
.tabCon1{
    display: flex;
    justify-content: center;
}
.tabCon2{
    min-width: 1260px;
    max-height: 54px;
    min-height: 50px;
    overflow: hidden;
	background-color: aliceblue;
	border-radius: 5px;
}
.bookTab{
	min-width: 1210px;
    margin: 0px;
    padding: 0px;
    font-size: 0pt;
    
}
.bookTab li{
    padding-top: 14px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    display: inline-block;
    list-style-type: none;
	min-width: 200px;
    min-height: 40px;
/* 	background-color: aliceblue; */
	border-radius: 5px;
}
.bookTab li:hover{
    cursor: pointer;
}
.here{/*tab classlist 함수용*/
	color: white;
	border: 3px solid #64b883;
	background-color: #a0cab0;
	border-radius: 5px;
}
.tabCon2 img{
	position: relative;
	top: -65px;
	float: right;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.bookSwipe,
.bookSwipe2{/*이건 원래 있던 것*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.window, .window2{
	min-width: 1260px;
	min-height: 370px;
	width: 1260px;
	height: 370px;
	overflow: hidden;
	border: 3px solid #64b883;
	border-radius: 5px;
}
.bookSwipe .newbook, 
.bookSwipe2 .popbook{
	position: relative;
	left: 0px;
	min-width: 3780px;
	min-height: 370px;
	width: 3780px;
    height: 370px;
	list-style-type: none;
	display: inline-block;
	background-color: white;
}
.bookSwipe .window .newbook,
.bookSwipe2 .window2 .popbook{
	margin: 0px;
	padding: 0px;
}
.bookSwipe .newbook li,
.bookSwipe2 .popbook li{
	display: inline-block;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 20px;
	max-width: 200px;
	height: 320px;

}
.bookSwipe .newbook li img,
.bookSwipe2 .popbook li img{
	width:200px;
    height:255px;
    filter: drop-shadow(0px 2px 5px black);
}
.bookSwipe .newbook li a,
.bookSwipe2 .popbook li a{
	max-width: 200px;
	overflow: hidden;
	text-decoration: none;
	color: black;
}
.bookt{
	position: relative;
	top: 10px;
	width: 200px;
	font-size: 15pt;
	overflow: hidden;
	background-color: white;
}
.backBtn, .goBtn,
.backBtn2, .goBtn2{
	width: 64px;
	height: 64px;
	opacity: 0.5;
	cursor: pointer;
}
.arBtn{
	width: 64px;
	height: 64px;
}
.infoBoard1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 150px;
}
.infoBoard2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
/*     width: 1260px; */
	width: 600px;
    height: 480px;
    margin-right: 30px;
    left: 0;
    
    border: 2px solid skyblue;
}
.infoBoard2 img{
	width: 50px;
	height: 50px;
}
.infoBoard2 table{
/* 	width: 1260px; */
	width: 600px;
	height: 250px;
}
.infoBoard2 table td:hover{
	cursor: pointer;
}
.titleQuick{
	display: flex;
	justify-content: space-between;
/* 	width: 1260px; */
	width: 600px;
	background: aliceblue;
	border-radius: 5px 5px 0 0;
	
}
.titleQuick img:hover{
	cursor: pointer;
}
.infoBoard2 span{
	display: flex;
	align-items: center;
	width: 200px;
    font-size: 14pt;
	font-weight: bold;
}
.infoBoard2 table{
	border-top: 1px solid #a0cab0;
	border-collapse: collapse;
	border-spacing: 0;
}

.infoBoard2 table:last-child{
	border-bottom: 1px solid #a0cab0;
}

.infoBoard2 table td:nth-child(2){
	width: 400px;
}
.infoBoard2 table td:not(:nth-child(2)){
	text-align: center;
}
.infoBoard3{
	width: 600px;
	height: 480px;
	margin-left: 30px;
	border: 2px solid skyblue;
}


/*탭*/
.bookSwipe2{
    display: none;
}

.hidden1,
.hidden2,
.hidden3,
.hidden4,
.hidden5{
	display: none;
}
#quick1:hover .hidden1{
	display: block;
}
#quick1:hover .visible1{
	display: none;
}

#quick2:hover .hidden2{
	display: block;
}
#quick2:hover .visible2{
	display: none;
}

#quick3:hover .hidden3{
	display: block;
}
#quick3:hover .visible3{
	display: none;
}

#quick4:hover .hidden4{
	display: block;
}
#quick4:hover .visible4{
	display: none;
}

#quick5:hover .hidden5{
	display: block;
}
#quick5:hover .visible5{
	display: none;
}

