@charset "utf-8";

.page{
	margin-top: 100px;
}
.bookInfo li span a{
	text-decoration: none;
	color: black;
}
.bookInfo li span a:hover{
	text-decoration: underline;
	color: #1d7647;
}
.image_container {
    display: flex;
    width: 1260px;
    margin: 0 auto;
}
.image_box{
	display: flex;
	align-items: center;
    justify-content: left;
	width: 630px;
	height: 500px;
	margin-top:10px;
	padding-left: 40px;
	background-color: #d8e9d9;
}
.image_box a{
	width: 252px;
	height: 304px;
	cursor: pointer;
	overflow: hidden;
}
.image_box img{
	position: relative;
	top: -300px;
	width: 250px;
	height: 300px;
	object-fit: cover; /*fill?*/
}
.blackbox{
	position: relative;
	z-index: 15;
	width: 250px;
	height: 300px;
	background-color: #1d7647;
	opacity:0;
}
.image_box .icon{
	top: 87px;
	left: 63px;
	float: left;
	width: 128px;
	height: 128px;
	border: none;
}
.image_box a:hover .blackbox{
	opacity: 0.5;
	transition: opacity 200ms ease-in-out;
}
.bookInfo{
	box-sizing: border-box;
	width: 250px;
	height: 300px;
	padding: 20px;
	margin-left: 15px;
	list-style-type: none;
	line-height: 2em;
	font-size: 11pt;
	background-color: white;
}
.bookInfo li span:not(.border){
	font-weight: bold;
	font-size: 15pt;
}
hr{
	border: 1px solid #d8e9d9;
}
.border{
	color: lightgray;
}
.hidden {
    display: none;
}
   
.button_box{
	display: flex;
	width:315px;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	box-sizing: border-box;
}

.orderBtn{
	/* background-color: #64B883; */
	border-radius : 2px;
	border: 2px solid gray;
	width: 30px;
	height: 30px;
	margin: 10px 10px 0 10px;
	cursor: pointer;
	background-color: white;
}
input[type=button]:not(.takeAlook):hover{
	background-color: #d8e9d9;
	opacity: 0.8;
}
.takeAlook{
	position: relative;
	top: 100px;
	left: -184px;
	margin-top:30px;
	width:120px; 
	height:35px; 
	font-weight: bold;
	color:white; 
	background-color: #1d7647;
	border: none;
	border-radius: 5px;
	cursor:pointer;
}
.takeAlook:hover{
	background-color: #64B883;
	color: white;
}
.arrCon{
	display: flex;
	justify-content: center;
	height: 30px;
}

/*jsìš©*/
.curPage{
	border: 2px solid #64B883;
	background-color: #d8e9d9;
}









