@charset "utf-8";

.image_container {
    display: flex;
    width: 1260px;
    margin: 0 auto;
}

.image_box{
	display: flex;
	width: 630px;
	height: 500px;
	align-items: center;
    justify-content: center;
	
	margin-top:10px;
}

.image_box img{
	width: 250px;
	height: 375px;
	object-fit: cover; /*fill?*/
}


.button_box{
	display: flex;
	width:1260px;
	margin: 0 auto;
	
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	box-sizing: border-box;
}

.button_box input[type="button"]{
	background-color: #64B883;
	border-radius : 5px;
	border: none;
}