@charset "utf-8";

.container{
    padding: 10px;
    display: flex;
    width: 1260px;
    margin: 0 auto;
    margin-top: 100px;
    flex-direction: column;
/*     border: 2px solid #1d7647; */
    border: 2px solid #A0CAB0;
    border-radius: 5px;
}

.container_table{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.container_table .table_title{
	 height: 30px; 
	 font-size: 15pt;
	 font-weight: bold;
	 padding-bottom: 10px;
	 border-bottom: 4px solid #6c5a3f;
}

.innerContainer{
    margin: 0 auto;
    width: 1150px;
    border-collapse: seperate;
    border-spacing: 0px 10px; 
    /*위의 border-spacing은 td th 세로 간격 벌리는거*/
    table-layout: fixed;
}

.innerContainer th{
    border-top: 1px solid #A0CAB0;
    border-bottom: 1px solid #A0CAB0;
    background-color: #E7F3E8;
    word-break: break-all;
    overflow-wrap: break-word;
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.innerContainer td{
    border-top: 1px solid #A0CAB0;
    border-bottom: 1px solid #A0CAB0;
    word-break: break-all;
    overflow-wrap: break-word;
    
    padding: 5px;
    box-sizing: border-box;
}

.innerContainer th:first-child, .innerContainer td:first-child{
	border-left:none;
}
.innerContainer th:last-child, .innerConatiner td:last-child{
	border-right:none;
}

.innerContainer tr:hover{
	cursor: pointer;
}

.innerContainer td{
	text-align:center;
}
/* .innerContainer td:not(:nth-child(4)){
	text-align:center;
} */

.go_button{
	text-align:right;
	padding-right:20px;
}
.go_button .gogo_button{
	width:120px; 
	height:35px; 
	background-color: #1d7647;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
