@charset "utf-8";

.container{
    padding: 10px;
    display: flex;
    width: 1260px;
    margin: 0 auto;
    margin-top: 30px;
    flex-direction: column;
    border: 1px solid skyblue;
}

.container_table{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.innerContainer{
    margin: 0 auto;
    width: 1150px;
    border-collapse: seperate;
    border-spacing: 0px 15px;
    table-layout: fixed;

}

.innerContainer th, .innerContainer td{
    border: 2px solid #6c5a3f;
    background-color: #ecd9bc;
    word-break: break-all;
    overflow-wrap: break-word;
}