@charset "utf-8";

.navnav{
	background-color: #ECD9BC;
}

.hyun{
	display: flex;
	background-color: #ECD9BC;
	justify-content: space-between;
	align-items: center;

	margin:0 auto;
	width: 1600px;

	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.big_name{
	font-size : 24pt;
	margin-left: 0;
}

.small_name{
	font-size : 12pt;
	margin-right: 0;
}

.extends{
	border: none;
}