@charset "utf-8";

.first_container{
	display:flex;
	flex-direction: column;
	width:1260px;
	margin: auto;
	border-top: 2px solid #ECD9BC;
	border-bottom: 2px solid #ECD9BC;
	
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 20px;
	box-sizing:border-box;
}
.table_box>table{
	border-collapse: collapse;
}
.no
.first_container .notice_table{
	width:1260px;
/* 	margin: 0 auto; */
	
	
	margin-bottom:20px;
}

.first_container .table_box th{
	border:1px solid #A0CAB0;
	background-color: #E7F3E8;
	width: 200px;
	height: 40px;
	
	box-sizing:border-box;
}

.first_container .table_box td{
	border:1px solid #A0CAB0;
	width: 430px;
	padding-left: 10px;
	
	box-sizing:border-box;
}

.first_container .table_box .notice_detail{
	padding: 20px;
	box-sizing: border-box;
}

.first_container .table_box th:first-child, .first_container .table_box td:first-child{
	border-left: none;
}
.first_container .table_box th:last-child, .first_container .table_box td:last-child{
	border-right: none;
}


.second_container{
	display:flex;
	width:1260px;
	margin: 0 auto;
	margin-top: 20px;
	
	justify-content:right;
	
	padding-right:20px;
	box-sizing:border-box;
}

.second_container .go_notification{
	width:120px; 
	height:35px;
	background-color: #155734;
	color: white;
	border-radius : 5px;
	border: none;
/* 	height: 30px; */
/* 	width: 150px; */
}
.second_container .go_notification:hover{
	background-color: #64b883;
	cursor: pointer;
}
