/* body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}/*header와 중복*/ 
.QnApage1{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 300px;
}
.QnApage2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1260px;
    line-height: normal;
}
dt, dd{
    box-sizing: border-box;
    line-height: 2em;
}
dt{
    width: 1260px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid #ecd9bc;
    background-color: white;
}

dt::first-letter{
    color: #6c5a3f;
    font-weight: bold;
}
dd{
    /* box-sizing: border-box; */
    width: 1260px;
    height: 400px;
    padding: 10px;
    overflow: hidden;
    background-color:#e7f3e8;
}
dd::first-letter{
    color: #47a168;
    font-weight: bold;
}

dd ul>li{
    list-style-type: square;
    line-height: 2em;
}
dd ul>li::marker{
    color: #ecd9bc;
}
p{
    font-weight: bold;
}


/*테스트 중*/

.dt{/*test*/
    width: 1260px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid #ecd9bc;
    background-color: white;
}
.dd{/*test*/
    display: none;
    width: 1260px;
    height: 400px;
    padding: 10px;
    overflow: hidden;
    background-color: #e7f3e8;
}
img{
    float: right;
    width: 40px;
    height: 40px;
}
