body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}/*header와 중복*/
.usetimePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    width: 720px;
    height: 860px;
    border: 1px solid black;
}
tr, td{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
.itemBold{
    width: 100px;
    height: 10px;
    font-weight: bold;
    background-color: #64b883;
}