
.title_container{
	display: flex;
	width: 1260px;
	align-items: center;
	margin: 0 auto;
	margin-top:20px;	
	
	font-size:24pt;
}
h1{
	margin-top: 50px;
	font-size: 20pt;
	font-weight: bold;
}
.hr1{
	width: 1260px;
	border: 2px solid #a0cab0;
}
.usetimePage1{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.usetimePage2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
	border-collapse: collapse;
	border-spacing: 0px;
    width: 1000px;
    height: 500px;
    margin-top: 50px;
}
tr, td{
    border-bottom: 1px solid #a0cab0;
    border-top: 1px solid #a0cab0;
    text-align: center;
    vertical-align: middle;
}
tr td:not(:first-of-type){
    border-left: 1px solid #a0cab0;
}
td:not(.itemBold){
    font-size: 11pt;
}
.itemBold{
    width: 100px;
    height: 10px;
    font-size: 13pt;
    font-weight: bold;
    background-color: #d8e9d9;
}