@charset "utf-8";

.bigDiv{
    display: flex;
    width: 1600px;
    height: 340px;
    margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:1px solid #ECD9BC;
}

.book_container {
 	display: flex;
	width: 1600px;
    height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.book_image {
	margin-left:50px;
    width: 200px;
}

.book_table {
    width: 1300px;
}

table {
    border-collapse: collapse;
    width: 1200px;
	height: 300px;
    margin: 0 auto;
}

td {
    width: 300px;
}

th {
    width: 300px;
    text-align: center;
}

td, th{
    border: 1px solid gray;
}

.moreInf{
	width: 1000px;
	height: 40px;
	border: none;	
	background-color: #ECD9BC;
	cursor: pointer;
	text-align: center;
	font-size: 16pt;
}

.moreInf:hover{
	background-color: #ECD9CC;
}

img{
	width:200px;
	height:300px;
	object-fit: cover;
}