body{
    font-weight:lighter;
    line-height: 2;
}
h3{
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
hr{
	width: 1260px;
	border: 2px solid #a0cab0;
}
.policyList1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.policyList2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 1260px;
/*     margin-top: 150px; */
/*     margin-bottom: 300px; */
}
.policyContent{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

ul, ol{
    margin-left: 20px;
}
.policyPart{
    color:mediumseagreen;
    font-size: 13pt;
    font-weight: bold;
}
.listNumber>li{
    list-style-type: decimal;
    margin-bottom: 40px;
}
.listNumber>li::marker{
    color:mediumseagreen;
    font-weight: bold;
}
.listAlphabet{
    list-style-type: lower-alpha;
}
.listAlphabet>li::marker{
    font-weight: bold;
}
.SemiBold{
    font-weight: 500;
}
.privacyCommittee{
	padding-left: 30px;
}
.privacyKeeper{
    color: firebrick;
    font-weight: bold;
}
ul{
    list-style-type: disc;
}
