a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: dodgerblue;
}


.container{
	display:flex;
	justify-content:center;
	color:#EE0000; 
	margin-top: 10px; 
	font-weight:600;
}
main{
	padding-top:30px;
}
input.btn{
	width:600px;
	height:60px;
	box-sizing:border-box;
	font-size:1.3em;
	border:none;
	outline:none;
	cursor:pointer;
}
input#id{
/* 	background:#0D2E8C; */
	background: #155734;
	color:white;
}
input#pw{
	background:#d8e9d9;
	color:black
}
#modalOpenButton, #modalCloseButton {
	cursor: pointer;
}
#modalOpenButton{
	height: 100px; 
	width: 100px; 
	cursor: pointer;
}
#modalCloseButton{
	position: absolute;
	top: 0;
	right: 0;
	width:50px;
	height:50px;
	outline:none;
	border:none;
	background:white;
}
#modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}

#modalContent {
	position: absolute;
	background-color: #ffffff;
	width: 600px;
	height: 300px;
	padding: 15px;
}

#modalContainer.hidden {
	display: none;
}
table{
	box-sizing:border-box;
	width:600px;
}
td{
	border:1px #a0cab0 solid;
	height:30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

td.text{
	width:160px;
	background:#d8e9d9;
	color:#777977;
	font-weight:600;
	vertical-align:top;
	padding-top:10px;
}
td.text > div{
	margin-left:20px;
	margin-top:5px;
}
td.input{
	width:720px;
	padding-left:20px;
}
input{
	outline:none;
	height:25px;
	border:1px #B2B2B2 solid;
	width:200px;
}
input.short{
	width:160px;
	text-align:center;
}

/*추가*/

.chkBtn{
	display: inline-block; 
	width: 25px; 
	height: 25px;
}
.chkBtnImg{
	width: 100%; 
	height: auto;
}
.chkSpan{
	font-size: 1em; 
	font-weight: 600;
}
.birthChk{
	position: relative;
	top: 15px;
	width: 64px;
	height: 64px;
}
.modOpBtnBox{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px; 
	height: 150px; 
	background: #d8e9d9; 
	text-align: center;
}
.input span{
	color:#DD0000; 
	font-size:0.8em; 
	font-weight:600;
}
.subBox{
	display:flex; 
	justify-content:center;
}
input[type=submit]{
	position: relative;
	top: -20px;
	color:white; 
	background:#155734; 
	width:120px; 
	height:35px; 
	margin-top:30px; 
	cursor:pointer;
}
.closeBtn{
	width:100%; 
	height:auto;
}