@charset "utf-8";

.first_container{
	margin: 0 auto;
	border:1px solid red;
}

.table_container{
	margin: 0 auto;
	width: 1260px;
	margin-top:20px;
	
	display:flex;
	justify-content:center;
}

.table_container table{
	border-collapse: collapse;
	width: 1260px;
}

.table_container th:not(.con_table_top){
	border: 1px solid green;
	text-align: left;
	width: 15%;
}

.table_container td:not(.con_table_top){
	border: 1px solid green;
	text-align: left;
	width: 85%;
	
	padding:10px;
	box-sizing: border-box;
	
}

.table_container .con_table_top{
	text-align: right;
	border:none;
}





.second_container{
	margin: 0 auto;
	border:1px solid red;
}

.button_container{
	margin: 0 auto;
	border: 1px solid blue;
	width: 1260px;
	
	display:flex;
	justify-content:center;
	
	margin-top:20px;	
}

.button_container input[type="button"]{
	margin: 10px;
	width: 200px;
	height:30px;
}

.button_container input[type="submit"]{
	margin: 10px;
	width: 200px;
	height:30px;
}

