.comment{
	font-size:0.8em; margin:3px;
}
a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: dodgerblue;
}


main{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top: 100px;
}

form > div.container{
	display:flex;
	justify-content:center;
	margin:10px 310px;
	width:900px;
	padding:0px;
}
table{
	height: 700px;
	border-collapse:collapse;
}
td{
/*	border:1px #E2E2E2 solid;*/
	border-bottom: 1px solid #a0cab0;
	border-top: 1px solid #a0cab0;
	height:30px;
}
td.text{
	width:160px;
	background-color: #d8e9d9;
/*	color:#777977;*/
	color: black;
	text-align: center;
	font-weight:600;
	vertical-align:middle;
	padding:0;
}
td.text > div{
/*	margin-left:20px;*/
	margin-top:5px;
}
td.input{
	width:720px;
	padding-left:20px;
}
input{
	outline:none;
	height:25px;
	border:1px #B2B2B2 solid;
	position:relative;
}
input::placeholder{
	color:#B3B3B3;
}
input.long{
	width:240px;
	height:30px;
	border:none;
}
input.middle{
	width:200px;
	
}
input.short{
	width:160px;
	text-align:center;
}
select{
	height: 30px;
	border:1px #B2B2B2 solid;
}
input.brief{
	width:60px;
	text-align:center;
}
input[type=submit]{
	margin-top:30px;
	width:120px; 
	height:35px; 
	font-weight: bold;
	color:white; 
	background-color: #1d7647;
	border: none;
	border-radius: 5px;
	cursor:pointer;
	margin-right:40px;
}
td > input[type=button]{
	margin-top:30px;
	width:120px; 
	height:35px; 
	font-weight: bold;
	color:white; 
	background-color: #1d7647;
	border: none;
	border-radius: 5px;
	cursor:pointer;
}
input.short{/*lhm 추가*/
	text-align: left;
}

#checkUserIdBtn{
	position: relative;
	top: 2px;
	color:white; 
	background:#786C67; 
	border:none; 
	height:28px; 
	cursor:pointer;
}
