h1{
	 text-align:center; 
	 font-size:3em; 
	 margin-bottom:0px; 
	 color:#492918;
}
span{
	 font-size:0.3em;
	 color:#471C0A; 
	 margin:0px; 
	 font-weight:900;
}
main{
	 display:flex; 
	 justify-content:center;
	 border: 1px solid brown;
}
a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: dodgerblue;
}


.floor{
	width:400px;
	height:50px;
	margin:20px 75px;
	font-size:0.8em;
	font-weight:900;
}
.floor > input.text{
	width:400px;
	height:50px;
	font-size:1.5em;
	border-radius:10px;
	border:1px #AAAAAA solid;
	outline:none;
}
h1{/*lhm 추가*/
	text-align:center;
	font-size:3em; 
	margin-bottom:0px; 
	color:#492918;
}
.loginTop{/*span. lhm 추가*/
	font-size:0.3em;
	color:#471C0A; 
	margin:0px; 
	font-weight:900;
}
input[type=submit]{/*lhm 추가*/
	color:white; 
	background:#535353; 
	width:120px; 
	height:35px; 
	cursor:pointer;
}