.comment{
	font-size:0.8em; margin:3px;
}
a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: dodgerblue;
}


main{
	display:flex;
	flex-direction:column;
	align-items:center;
}

form > div.container{
	display:flex;
	justify-content:center;
	margin:10px 310px;
	width:900px;
	padding:0px
}
td{
	border:1px #E2E2E2 solid;
	height:30px;
}
td.text{
	width:160px;
	background:#f2f2f2;
	color:#777977;
	font-weight:600;
	vertical-align:top;
	padding:0;
}
td.text > div{
	margin-left:20px;
	margin-top:5px;
}
td.input{
	width:720px;
	padding-left:20px;
}
input{
	outline:none;
	height:25px;
	border:1px #B2B2B2 solid;
}
input::placeholder{
	color:#B3B3B3;
}
input.long{
	width:240px;
	height:30px;
	border:none;
}
input.middle{
	width:200px;
	
}
input.short{
	width:160px;
	text-align:center;
}
input.brief{
	width:60px;
	text-align:center;
}
input[type=submit]{
	color:white; 
	background:#0D2E8C; 
	width:120px; 
	height:35px; 
	margin-top:30px; 
	cursor:pointer;
}