@charset "utf-8";

.bigDiv{
    display: flex;
    width: 1260px;
    height: 340px;
    margin: 0 auto;
	margin-top: 100px;
/* 	margin-bottom: 20px; */
	padding: 20px 0 20px 0;
	border:2px solid #ECD9BC;
	border-radius: 5px;
}

.book_container {
 	display: flex;
	width: 1260;
    height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.book_image {
	margin-left:50px;
    width: 200px;
}

.book_image img{
	width:200px;
	height:300px;
	object-fit: cover;
}

.book_table {
    width: 1000px;
    display: flex;
    align-items: center;
}

.book_table table {
    border-collapse: collapse;
    width: 800px;
/* 	height: 300px; */
	height: 200px;
    margin: 0 auto;
}

.book_table td {
    width: 150px;
}

.book_table th {
    width: 100px;
    background-color: #E7F3E8;
    text-align: center;
}

.book_table td, th{
    border: 1px solid #A0CAB0;
}

.book_table th:first-child, .book_table td:first-child{
	border-left: none;
}
.book_table th:last-child, .book_table td:last-child{
	border-right: none;
}

.wishform{
	display:inline-block;
	float: right;
}

/* .book_table input */
input{
/* 	width: 100px; */
/* 	height: 30px; */
/* 	border: none; */
/* 	border-radius: 5px;	 */
/* 	background-color: #a0cab0; */
/* 	cursor: pointer; */
/* 	text-align: center; */
/* 	font-size: 14pt; */
	
	float: right;
	width:120px; 
	height:35px; 
/* 	margin: 20px 0 0 10px; */
	margin: 20px 10px 0 10px;
	background-color: #1d7647;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.hidden{
	display: none;
}
/* .book_table input:hover{ */
/* 	background-color: #64B883; */
/* } */

.butns{
	display:flex;
	justify-content: center;
}
.butns2{
	width: 1260px;
	
}







