body {
    width: 100vw;
    height: 100vh;
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 1.5rem;
}

main {
    margin: 0 auto;
    padding-top: 100px;
    width: 850px;
}

.clock {
    border: 2px solid red;
    padding-top: 60px;
    right: auto;
    margin-left: calc(100% - 200px);
}

/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');


section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    max-width: 200px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
}

section .container .icons i {
    position: absolute;
    right: 17px;
    top: 17px;
    height: 30px;
    width: 30px;
    background: #24292D;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}

section.dark .container .icons i {
    background: #fff;
    color: #323840;
}

.container .icons i.fa-sun {
    opacity: 0;
    pointer-events: none;
}

section.dark .container .icons i.fa-sun {
    opacity: 1;
    pointer-events: auto;
    font-size: 16px;
}

section .container .time {
    display: flex;
    align-items: center;
}

.container .time .time-colon {
    display: flex;
    align-items: center;
    position: relative;
}

.time .time-colon .am_pm {
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

section.dark .time .time-colon .am_pm {
    color: #fff;
}

/* .time .time-colon .time-text {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #F0F8FF;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */

section.dark .time .time-colon .time-text {
    background: #24292D;
}

.time .time-colon .time-text,
.time .time-colon .colon {
    font-size: 35px;
    font-weight: 600;
}

section.dark .time .time-text .num,
section.dark .time .colon {
    color: #fff;
}

.time .time-colon .colon {
    font-size: 40px;
    margin: 0 10px;
}

.time .time-colon .time-text .text {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

section.dark .time .time-colon .text {
    color: #fff;
}




.indexContainer {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.indexContainer .boxWrap {
    margin-right: 20px;
    flex-direction: column;
}

.indexContainer .box {
    min-width: 200px;
    min-height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexContainer .boxWrap .buying {
    background-color: #a29bfe;
}

.indexContainer .boxWrap .borrow {
    background-color: #76bcf5;
}

.indexContainer .boxWrap .users {
    background-color: #ffeaa7;
}

.indexContainer .boxWrap .others {
    background-color: #fab1a0;
}

.indexContainer .boxWrap .inquiry {
    background-color: #74b9ff;
}

.indexContainer .boxWrap .announce {
    background-color: #ff7675;
}

.indexContainer .boxWrap .userLink {
    background-color: #00b894;
    margin: 10px 0;
    min-height: 400px;
}

.indexContainer .box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.indexContainer .box div img {
    width: 100px;
    height: 100px;
    background-color: #000000;
}

.indexContainer .box div p {
    text-align: center;
}